.sidebar-wrapper{
    padding: 20px 20px;
}
.sidebar-wrapper h4{
    background: #FF9457;
    color: #fff;
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    font-weight: 500;
    align-items: center;
}
.accordion{
    margin-top: 2rem;
}
.sidebar-wrapper .card{
    background: no-repeat;
    border: none;
}
.card-header{
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
    padding-left: 2px;
}
.card-header h6{
    display: flex;
    align-items: center;
}
.card-header h6 a{
   /* font-size: 16px;*/
    font-size: 14px;
    font-weight: 500;
    color: #A5BEE2;
}
.card-header span,.card-header a{
     /* font-size: 16px;*/
    font-size: 14px;
    font-weight: 600;
    color: #A5BEE2;
}
.card-body{
    padding-right: 2px;
    padding-left: 1rem;
}
.card-body  .body-inner{  
    border-left: 1px solid #A5BEE2;
    padding-left: 1rem;
}
.card-body  .body-inner a{  
    color:#A5BEE2;
}
.card-body li{
    margin-bottom: 1rem;
    color: #A5BEE2;
    font-size: 14px;
}